<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Methane and climate change</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="font-secondary paragraph-lg text-dark">Methane is a potent greenhouse gas that significantly impacts climate change. 
          Although it is less abundant in the atmosphere compared to carbon dioxide, methane has a much higher global warming potential, approximately 28-36 times greater over a 100-year period. 
          This means that even relatively small amounts of methane can trap significantly more heat in the atmosphere, accelerating the greenhouse effect and contributing to global temperature rise. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Methane emissions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="font-secondary paragraph-lg text-dark"> 
          Methane is released from various sources, including livestock digestion, rice paddies, landfills, and the extraction and transport of fossil fuels. 
          Its rapid increase in recent decades has exacerbated climate change, underscoring the need for effective measures to reduce methane emissions alongside carbon dioxide to mitigate global warming.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- /about -->